@CHARSET "UTF-8";

body {
	text-align: center;
}

table {
	border: solid;
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

th {
	text-align: right;
}

th.vertical {
	text-align: left;
}

input {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 1px;
	margin-right: 1px;
}

.title {
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 15px
}